<div class="container">
    <div *ngFor="let item of items" class="col-lg-2 col-md-3 col-sm-6 mb-3 item" >
        <div *ngIf='ruta=="avion"'>
            <li class="list-group-item">
                <strong>Matricula:</strong> {{item.matricula}}
            </li>
            <li class="list-group-item">
                <strong>Fabricante:</strong> {{item.fabricante}}
            </li>
        </div>
        <div *ngIf='ruta=="ciudad"'>
            <li class="list-group-item">
                
                <strong>Nombre:</strong> {{item.nombre}}
            </li>
        </div>
        <div *ngIf='ruta=="vuelo"'>
            <li class="list-group-item">
                <strong>Avion:</strong> {{item.avion}}
            </li>
            <li class="list-group-item">
                <strong>Ciudad Llegada:</strong> {{item.ciudad_llegada}}
            </li>
            <li class="list-group-item">
                <strong>Ciudad Salida:</strong> {{item.ciudad_salida}}
            </li>
        </div>
        <button>Editar</button>
        <button (click)="borrar(item.id)" >Eliminar</button>
    </div>
</div>