<div class="container">
    <div *ngFor="let item of items" class="col-lg-2 col-md-3 col-sm-6 mb-3 tarjetas" >
        <div class="card h-100">
            <ul class="list-group list-group-flush">
                <div *ngIf='ruta=="avion"'>
                    <li class="list-group-item">
                        <strong>Matricula:</strong> {{item.matricula}}
                    </li>
                    <li class="list-group-item">
                        <strong>Fabricante:</strong> {{item.fabricante}}
                    </li>
                </div>
                <div *ngIf='ruta=="ciudad"'>
                    <li class="list-group-item">
                        <strong>Nombre:</strong> {{item.nombre}}
                    </li>
                </div>
                <button>Editar</button>
                <button (click)="borrar(item.id)" >Eliminar</button>
            </ul>
        </div>
    </div>
</div>